header {
  color: var(--secondary);
  background-color: var(--primary);
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100vw;
  box-shadow: 0 0 12px var(--primary);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
header a {
  color: inherit;
}

.header-ul {
  background-color: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
header li {
  background-color: inherit;
  color: inherit;
}
header button {
  display: flex;
  background: none;
  border: none;
}
header button img {
  height: 20px;
  filter: invert(1);
}
.header-logotipo {
  filter: invert(1);
  height: 50px;
  width: auto;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.burguer {
  display: none;
}

@media screen and (max-width: 700px) {
  header {
    top: 0;
  }
  .header-nav {
    background-color: inherit;
    color: inherit;
    position: absolute;
    z-index: -1;
    top: 70px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    height: 0vh;
  }
  .header-nav.Active {
    opacity: 1;
    top: 70px;
    height: 100vh;
  }
  .header-ul {
    background-color: inherit;
    color: inherit;
    flex-direction: column;
    gap: 0;
  }
  .burguer {
    display: flex;
  }
  header li {
    background-color: inherit;
    color: inherit;
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  header li:hover {
    background-color: var(--secondary);
    color: var(--primary);
    transition: 0.6s;
  }
}
