@font-face {
  font-family: 'Relationship of mélodrame';
  src: url('/src/assets/fonts/Relationship of mélodrame.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}



:root {
  --primary: #000000;
  --secondary: #f1f0f0;
  --tertiary: #8fa98f;
  --font-primary: "Roboto", sans-serif;
  --font-terciary: 'Relationship of mélodrame', serif;
 

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--secondary);
  color: var(--primary);
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
    font-family: var(--font-primary);

}
p, h2, h3, h4, h1 {
  font-family: var(--font-primary);
}
